body {
    background-color: #030303;
    color: #ffffff;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
  }
  
  a {
    color: #ffffff;
  }
  
  a:hover {
    border: 1px solid #f0c3f1;
  }
  